*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.parent{
    display: flex;
    gap: 231px;
    border: 1px solid black;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 48px;
    font-weight: 400;
}
.shop{
    color: white;
    font-weight: 600;
}
.eng{
    display: flex;
   align-items: center;
}
.head{
    display: flex;
    gap: 148px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px solid rgb(50, 50, 50);
}
.sub-text{
    display: flex;
    gap: 190px;
    font-size: 16px;
    align-items: center;
}
.ex-text{
    font-size: 24px;
    font-weight: 700;
}
.mini-text{
    display: flex;
    gap: 48px;
    font-weight: 400;
}.mini-text2{
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    gap: 34px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
}
.wish{
    display: flex;
    gap: 24px;
    align-items: center;
}
.fashion{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    border-right: 1px solid black;
    padding-top: 30px;
}
.fash1{
    display: flex;
    gap: 51px;
    align-items: center;
}
.fash2{
    display: flex;
    gap: 71px;
    align-items: center;
}
.main-fashion{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.iphone{
    width: 780px;
    background-color: black;
    color: white;
}
.voucher{
    font-size: 48px;
}
/* .image{
    padding-top: 30px;
}
.flash{
    padding-top: 100px;
    text-align: center;
    padding-left: 100px;
}
 .btn1{
    background-color: #DB4444;
    color: white;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
   align-content: center;
   text-align: center;
   margin-left: 45%;
   margin-top: 30px;
 }
 .arrow{
    display: flex;
    gap: 8px;
 }
 .gadget{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;
 }
 .gadget img:hover{
    background-color: #DB4444;
 }
 .line{
    border: 1px solid rgb(105, 105, 105);
    width: 1000px;
    margin-top: 50px;
    margin-left: 100px;
 }
 .browse{
    padding-top: 30px;
    padding-left: 120px;
}
.border{
width: 20px;
height: 40px;
background-color: #DB4444;
border-radius: 8px;
}
.this-month{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}
.month{
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 110px;
    color: #DB4444;
}
 .best{
    font-size: 36px;
    font-weight: 600;
 }
 .view{
    display: flex;
    gap: 639px;
    justify-content: center;
 }
 .btn2{
    background-color: #DB4444;
    color: white;
    width: 100px;
    height: 30px;
     font-size: 16px;
    font-weight: 500;
   align-content: center;
   text-align: center;
   border-radius: 8px;
 }
 .cloth{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
 }
 .pic1{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
 }
  .pic2{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
 }
  .vieww{
    display: flex;
    gap: 625px;
    justify-content: center;
 }
 .perfume{
    display: flex;
    gap: 20px;
 }
 .console{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
 }
 .vie{
    padding-left: 110px;
 }
 .ps5{
    width: 500px;
    background-color: black;
    border-radius: 8px;
    position: relative;
 }
 .ps{
    position: absolute;
    top: 12px;
 }
 .play{
    position: absolute;
    color: white;
    left: 20px;
    top: 460px;
    width: 242px;
    font-size: 14px;
    font-weight: 400;
 }
 .ps55{
    font-size: 24px;
    font-weight: 600;
 }
 .shopp{
    color: white;
    font-size: 16px;
 }
 .speaker{
    background-color: black;
    border-radius: 8px;
 }
 .woman{
    border-radius: 8px;
    position: relative;
 }
 .wo{
    position: absolute;
 }
 .perf{
    background-color: black;
    border-radius: 8px;
 } */