*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.parent{
    display: flex;
    gap: 231px;
    border: 1px solid black;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 48px;
    font-weight: 400;
}
.shop{
    color: white;
    font-weight: 600;
}
.eng{
    display: flex;
   align-items: center;
}
.head{
    display: flex;
    gap: 148px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px solid rgb(50, 50, 50);
}
.sub-text{
    display: flex;
    gap: 190px;
    font-size: 16px;
    align-items: center;
}
.ex-text{
    font-size: 24px;
    font-weight: 700;
}
.mini-text{
    display: flex;
    gap: 48px;
    font-weight: 400;
}.mini-text2{
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    gap: 34px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
}
.wish{
    display: flex;
    gap: 24px;
    align-items: center;
}
.fashion{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    border-right: 1px solid black;
    padding-top: 30px;
}
.fash1{
    display: flex;
    gap: 51px;
    align-items: center;
}
.fash2{
    display: flex;
    gap: 71px;
    align-items: center;
}
.main-fashion{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.iphone11{
    width: 780px;
    background-color: black;
    color: white;
    padding-top: 30px;
    justify-items: center;
}
.iphone{
    display: flex;
}
.iphon{
    padding-left: 50px;
}
.voucher{
    font-size: 48px;
    width: 264px;
    padding-top: 20px;
}
.shop{
    color: white;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}
.shop:hover{
    font-size: 18px;
}
.browse{
    padding-top: 50px;
}
.this-month{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}
.month{
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 110px;
    color: #DB4444;
}
.best{
    font-size: 36px;
    font-weight: 600;
 }
 .view{
    display: flex;
    gap: 639px;
    justify-content: center;
 }
 .border{
width: 20px;
height: 40px;
background-color: #DB4444;
border-radius: 8px;
}
 .arrow{
    display: flex;
    gap: 8px;
 }
 .gadget{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;
    font-size:16px;
    font-weight: 400;
 }
 .sub-gadget{
    width: 150px;
    height: 100px;
    padding-top: 12px;
   text-align: center;
   border: 1px solid rgb(164, 164, 164);
 }
 .sub-gadget:hover{
    background-color: #DB4444;
 }
  .sub-gadget1{
    width: 150px;
    height: 100px;
    background-color: #DB4444;
    padding-top: 12px;
    color: white;
    text-align: center;
 }
 .cpu{
    display: flex;
    gap: 30px;
    justify-content: center;
     padding-top: 30px;
    font-size:16px;
    font-weight: 400;
 }
 .gucci{
     width: 240px;
 }
 .jacket{
    position: relative;
    background-color: #f5f5f5;
    width: 240px;
    text-align: center;
 }
 .eye{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 5px;
    right: 8px;
 }
 .star{
    align-items: center;
 }
 .north{
    padding-top: 15px;
 }
 .doll{
    color: #DB4444;
 }
 .dolls{
    color: rgb(137, 137, 137);
 }
 .jbl{
    width: 1100px;
    background-color: black;
    margin-top: 60px;
    padding-top: 60px;
    display: flex;
    gap: 30px;
    justify-items: center;
    margin-left: 100px;
    padding-bottom: 30px;
 }
 .jbl-text{
    padding-left: 30px;
 }
 .cat{
    font-size: 16px;
    font-weight: 600;
    color: #00FF66;
 }
 .enhance{
    font-size: 48px;
    font-weight: 600;
    width: 443px;
    color: white;
    padding-top: 30px;
 }
 .timer{
    padding-top: 30px;
 }
 .buy{
    width: 170px;
    height: 40px;
    background-color: #00FF66;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top:30px;
 }
 .buy:hover{
    width: 200px;
    height: 50px;
 }
   .vieww{
    display: flex;
    gap: 625px;
    justify-content: center;
 }
 .pic1{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
 }
  .pic2{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
 }
 .btn1{
    background-color: #DB4444;
    color: white;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
   align-content: center;
   text-align: center;
   margin-left: 45%;
   margin-top: 30px;
 }
  .vie{
    padding-left: 110px;
 }
 .console{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
 }
 .ps5{
    width: 500px;
    background-color: black;
    border-radius: 8px;
    color: white;
    background-image: url(../pics/ps5-slim-goedkope-playstation_large\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 }
 .ps6{
    padding-top: 450px;
    padding-left: 20px;
 }
 .hat{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .woman{
     background-color: black;
    border-radius: 8px;
    width: 520px;
    height: 250px;
    background-image: url(../pics/attractive-woman-wearing-hat-posing-black-background\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 }
 .wo{
    padding-top: 140px;
    padding-left: 20px;
    color: white;
 }
 .mini-wo{
    font-size: 24px;
 }
 .small-wo{
    font-size: 14px;
 }
 .shopp{
    padding-top: 10px;
    color: white;
    font-size: 16px;
 }
 .perfume{
    display: flex;
    gap: 20px;
 }
 .perf{
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 8px;
    background-image: url(../pics/Frame\ 707.png);
    background-repeat: no-repeat;
    background-position: center;
 }
 .speaker{
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 8px;
    background-image: url(../pics/Frame\ 706.png);
    background-repeat: no-repeat;
    background-position: center;
 }
 .delivery{
    display: flex;
    gap: 88px;
    justify-content: center;
    padding-top: 120px;
 }
 .free{
    justify-items: center;
 }
 .fast{
    font-size: 20px;
 }
 .fast1{
    font-size: 14px;
 }
.footer{
    margin-top: 150px;
    background-color: black;
    width: 100%;
    color: white;
    padding-bottom: 20px;
}
.foot{
display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 50px;
}
.sub{
    font-size: 20px;
    padding-top: 10px;
}
.sub{
    font-size: 20px;
}
.get{
    font-size: 16px;
    padding-top: 10px;
    width: 180px;
    line-height: 30px;
}
.gett{
    padding-top: 10px;
}
.email{
    width: 218px;
    height: 48px;
    border: 1px solid white;
    background-color: black;
    margin-top: 20px;
    padding-left: 20px;
}
.last{
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid rgb(57, 57, 57);
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
}